#
# Initialize the per-board vector
#

[Unit]
Description=Apply Boardname Variables
DefaultDependencies=no
After=systemd-remount-fs.service
Before=sysinit.target
ConditionPathExists=!/etc/boardname

[Service]
Type=oneshot
ExecStart=/sbin/boardname

[Install]
WantedBy=basic.target
